@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,400;0,500;0,700;0,800;0,900;1,500;1,700;1,800&display=swap");
@media (max-width: 999px) {
  .nav-bar {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 50px;
    .logo_holder {
      .lg_btn {
        .logo {
        }
      }
    }
    .menu_holder {
    }
    .page_btns {
      
    }
    .account_btns {
    }
  }
  .landingPage {
    display: flex;
    .content_sections {
      .main_section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 300px;
        max-width: 700px;
        width: 100%;
        padding: 4px;
        margin: auto;
        margin-top: 10px;
        gap: 10px;
        .header {
          font-family: "Epilogue", sans-serif;
          font-size: 40px;
          line-height: 4rem;
          font-weight: 700;
          text-align: center;
          max-width: 600px;
          width: 100%;
        }
        .description_txt {
          font-family: "Epilogue", sans-serif;
          font-size: 18px;
          font-weight: 500;
          max-width: 450px;
          width: 100%;
          text-align: center;
          margin: 18px 0px 30px;
        }
        .mainSec_btn {
          font-family: "Epilogue", sans-serif;
          font-size: 16px;
          font-weight: 500;
          height: 50px;
          width: 140px;
          align-self: center;
          border-radius: 15px;
          background-color: hsl(0deg, 0%, 8%);
          color: white;
          &.main_hover {
            background-color: white;
            color: black;
            border: 1px solid black;
          }
        }
      }
      .buttom_section {
        max-width: 200px;
        width: 100%;
        height: 300px;
        display: flex;
        gap: 80px;
        justify-content: space-evenly;
        margin: auto;
        .v-btn {
          .b_icon{
            width:60px ;
            height: 30px;
          }
        }
      }
    }
    .hero_section {
      .hero_img {
        width: 100%;
        height: 360px;
        object-fit: fill;
      }
    }
  }
}
@media (min-width: 1000px) {
  .nav-bar {
    display: flex;
    width: 100%;
    gap: 50px;
    .logo_holder {
      .lg_btn {
        .logo {
        }
      }
    }
    .menu_holder {
    }
    .page_btns {
    }
    .account_btns {
    }
  }
  .landingPage {
    .content_sections {
      .main_section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 670px;
        max-width: 700px;
        width: 100%;
        padding: 4px;
        margin: auto;
        margin-top: 60px;
        gap: 20px;
        .header {
          font-family: "Epilogue", sans-serif;
          font-size: 90px;
          line-height: 7rem;
          font-weight: 700;
          max-width: 600px;
          width: 100%;
        }
        .description_txt {
          font-family: "Epilogue", sans-serif;
          font-size: 20px;
          font-weight: 500;
          max-width: 450px;
          width: 100%;
          margin: 18px 0px 30px;
        }
        .mainSec_btn {
          font-family: "Epilogue", sans-serif;
          font-size: 18px;
          font-weight: 500;
          height: 58px;
          width: 180px;
          border-radius: 15px;
          background-color: hsl(0, 0%, 8%);
          color: white;
          &.main_hover {
            background-color: white;
            color: black;
            border: 1px solid black;
          }
        }
      }
      .buttom_section {
        max-width: 700px;
        width: 100%;
        height: 300px;
        display: flex;
        gap: 50px;
        justify-content: space-evenly;
        margin: auto;
        .v-btn {
        }
      }
    }
    .hero_section {
      display: flex;
      justify-content: center;
      margin: auto;
      margin: 82px 0px;
      .hero_img {
        height: 700px;
        width: 80%;
      }
    }
  }
}
